body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  margin-top:20px;
  width: 400px;
  margin-left: 300px;
  font-size: 10px;
 
  box-shadow: 10px 10px 8px 10px #888888;
}
.inner{
  display: inline;

}
.array{
  color: green;
}
.others{
  color: blue;
}
.space {
  border-left: 0.5px dashed rgb(0, 0, 0);
  padding-right: 10px;
}
.objects{
  color: red;
}
.brackets{
  color: black;
}